@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(250, 239, 255);
}


.main-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 300px;
    background-color: white;
    padding-right: 0;
}
.main-container h1 {
    font-weight: bold;
}

.main-container main {
    padding: 20px;
}
.main-container .right-sidebar a:hover {
    background-color: azure !important;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgba(0,0,0,0.2),#00000066), url('https://wallpapercave.com/wp/wp7563482.jpg');
    background-size: cover;
    position: relative;
}

/* .weather-container::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    opacity: .5;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
} */

.weather-input {
    padding: .5rem;
    color: #444;
    font-family: monospace;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0.375rem;
    width: 100%;
}

.weather-input-container {
    width: 100%;
}

.weather-info {
    display: column;
    flex: 1;   
}

.weather-info .weather-info__city {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.weather-info .weather-info__temp {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.weather-info .weather-info__temp span {
    font-size: 1.5rem;
    font-weight: normal;
}

.weather-info__icon {
    text-align: center;
}
.weather-info__icon img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.list-group-item {
    border-radius: 0 !important;
}
.card {
    height: 600px;
    display: flex;
    flex-direction: column;

}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card-body .card-footer {
    padding: .5rem 1rem;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card-text {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
